[package]
name = "yacrd"
version = "0.5.1"
authors = ["Pierre Marijon <pierre.marijon@inria.fr>"]

exclude = ["image/*", "validation/*", "tests/*"]

description = "Using all-against-all read mapping, yacrd performs: computation of pile-up coverage for each read and detection of chimeras"
#documentation = "https://github.com/natir/yacrd"
homepage = "https://github.com/natir/yacrd"
repository = "https://github.com/natir/yacrd"
readme = "Readme.md"
license = "MIT"
keywords = ["bioinformatics", "chimera", "long-read"]

[badges]
travis-ci = { repository = "natir/yacrd", branch = "master" }

[dependencies]
bio            = "0.21"
csv            = "1"
xz2            = "0.1"
clap           = "2.31.2"
serde          = "1.0"
bzip2          = "0.3.3"
flate2         = "1.0"
serde_json     = "1.0"
lazy_static    = "1.0"
serde_derive   = "1.0"
enum_primitive = "0.1.1"

[[bin]]
name = "yacrd"
path = "src/main.rs"
